body{
	background: url('../img/space.JPG');
	background-attachment: fixed; /*Es para que si hago scroll down, siempre se muestre la imagen y no se termine en ningún momento.*/
	background-size: cover;
}
#logo{
	background: #235e3d;
}
#menu li:hover{
	background: #235e3d;
}
.more{
	background: #235e3d;
}
.subir:hover{
	background: #235e3d50;
}
#reloj{
	background: #235e3d50;
	border: 5px dashed; #235e3d;
	color: #235e3d;
}